html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
}

.spa-root {
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.arrow {
  width: 50%;
  height: 50%;

  background: hsl(150, 50%, 50%);
  -webkit-mask: url('./arrow.svg') no-repeat center;
}

.flip {
  transform: scale(-1, 1);

  filter: hue-rotate(180deg);
}
